input {
  margin-bottom: 15px;
  font: inherit;
  color: inherit;
  border: 2px solid #ccc;
  background-color: transparent;
  font-size: 1.5rem;
  margin-top: 15px;
  border-radius: 4px;
}
input:focus {
  border-color: #000;
  outline: none;
}
